@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
body {
  background-image: url("/AARU/PICS/back11.svg");
  background-size: cover;
  background-color: #e5d5bd;
  z-index: 10;
  font-family: "Raleway", sans-serif;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50);
  text-align: center;
}
.wrapper form {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 43px;
  color: rgb(233, 70, 0);
  margin: 0;
}
h2 {
  color: rgb(233, 70, 0);
}

input {
  background: #fffefc;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 auto;
  padding: 13px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 300px;
  transform-origin: 0 0;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background: #f3f3f3;
  }
  &:focus {
    background: #eaeaea;
    outline: none;
  }

  &[type="submit"] {
    background: rgb(233, 70, 0);
    color: #fffefc;
    cursor: pointer;
  }
  
}

label {
  display: block;
  font-size: 14px;
  color: #43434c;
  margin-bottom: 5px;
  font-weight: 600;
  height: 16px;
  transition: opacity 1s 0.3s;
  overflow: hidden;
  span {
    cursor: pointer;
    color: rgb(233, 70, 0);
  }
}

.labels {
  margin-top: 50px;
}
