body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../PICS/back11.svg");
    background-size: cover;
    background-color: #e5d5bd;
    z-index: 10;

}
.form{
    align-items: start;
    justify-content: start;
    

}
.labels{

    color: rgb(233, 70, 0);
    
}